<html>
    {% include 'include.html' %}
<head>
<title>Update Model</title>
</head>
<body>
    {% include 'messages.html' %}
    <div class="card">
        <div class="card-header">Update Patient</div>
        <div class="card-body">

            <form action="/patient/update" method="post">
                <!-- Input type text -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">ID</label>
                    <input type="number" class="form-control" name="id" id="id" placeholder="placeholder" value="{{patient.id}}" disabled>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="placeholder" value="{{patient.name}}" disabled>
                </div>

                <!-- Input text grid -->
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Age</label>
                            <input type="number" name="age" id="age" disabled class="form-control" placeholder="placeholder 1">
                        </div>
                        <div class="col">
                            <label for="gender">Gender</label>
                    <select class="custom-select" name="gender" id="gender" disabled>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        
                    </select>
                        </div>
                        <div class="col">
                            <label>Echo Payment</label>
                            
                            {% if patient.echoPayment %}
                                
                                <input type="checkbox" name="echoPayment" id="echoPayment" checked disabled value="True">
                            {% else %}
                                
                                <input type="checkbox" name="echoPayment" id="echoPayment" value="True">
                            {% endif %}
                                
                                
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="button_id_5" id="button_id_5">submit</button>
            </form>
        </div>
    </div>

</body>
</html>
