<div class="m-2">

    <table class="table table-borderless">
        <tbody>
            <tr>
                <th>ID No.</th>
                <td>{{patient.id}}</td>
                
                <th>Procedure Date</th>
                <td>{{patient.created_date}}/{{patient.created_time}}</td>
            </tr>
            <tr>
                <th>Patient Name </th>
                <td>{{patient.name}}</td>
                <th>Age/Sex </th>
                <td> {{patient.age}} Yr /{{patient.gender}} </td>
                
            </tr>
            <tr>
                <th>Mob No.</th>
                <td>{{patient.mob_no}}</td>
                
            </tr>
            

        </tbody>

    </table>
</div>