<div>
    <form action="{% url 'med_test1_app:create_med_test1_report' %}" method="post">
        {% csrf_token %}
        <input type="number" name="id" id="id" value="{{patient.id}}" hidden>

        <div class="container mt-4 mb-4">
            <textarea name="t1_1" class="form-control" id="t1_2" rows=""><p><strong>Remarks:</strong></p><p>&nbsp;</p><p>SITUS SOLITUS<br>LEVOCARDIA<br>ALL FOUR PULMONARY VEINS DRAINING INTO LA<br>IVC/SVC DRAINING INTO RA<br>NRGA<br>AV-VA CONCORDANCE<br>mm OSTIUM SECUNDUM ASD WITH LEFT TO RIGHT SHUNT<br>IVS INTACT<br>MORPHOLOGICALLY NORMAL VALVES<br>NORMAL BIVENTRICULAR SYSTOLIC FUNCTION<br>NO PDA, NO COARCTATION OF AORTA<br>NO VEGETATION, NO PERICARDIAL EFFUSION<br>&nbsp;</p><p><strong>Impression:</strong></p><p>&nbsp;</p><p>ACYANOTIC CONGENITAL HEART DISEASE<br>LARGE OSTIUM SECUNDUM ASD WITH LEFT TO RIGHT SHUNT.</p></textarea>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div>