{% include "include.html" %}
{% include "navbar.html" %}

<h1>update</h1>

<body>
    
    <div>
        <form action="{% url 'med_test1_app:update_med_test1_report' %}" method="post">
            {% csrf_token %}
            <input type="number" name="id" id="id" value="{{patient.id}}" hidden>
    
            <div class="container mt-4 mb-4">
                <textarea name="t1_1" class="form-control" id="t1_1" rows="">{{patient.med_test1_report.t1_1}}</textarea>
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js">
    </script>
    <script>
        ClassicEditor
        .create(document.querySelector('#t1_1'))
            .catch(error => {
                console.error(error);
            });
       
        
    </script>
</body>